<form ngForm class="flex flex-col w-[85vw] justify-center items-center" (ngSubmit)="searchLocation(location.value)">
    <input #location type="search" placeholder="Search destination ..." class="p-2 m-2 w-[300px] bg-gray-500 text-white rounded">
    <div *ngFor="let location of matchingLocations; let i = index" class="flex flex-col w-[600px]">
        <p *ngIf="!hidelist" class="p-2 hover:cursor-pointer hover:bg-gray-200 mb-2" (click)="getLocationCoordsForSelectedLocation(i)">{{location.display_name}}</p>
    </div>
</form>

<div id="map" class="h-[85vh] w-[85vw] ml-[10px]"> </div>

