<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>Welcome to Rhyde, <%=CustomerName%></th>
        </tr>
        <tr>
            <td>
                <p>Hi, <%=CustomerName%></p>
                <p><img src="https://www.istockphoto.com/photo/woman-hand-opening-the-door-of-a-white-car-casting-a-shadow-over-it-at-sunrise-time-gm1420317937-466367895" alt=""></p>
                <p>
                    Thank you for signing up. <br>
                    Enjoy your rides with Rhyde. We appreciate your wise decision to be part of us. <br>

                    Thank you.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>