<nav>
    <div>
        <div class="logo">{{title}}</div>
    </div>

    <ul>
        <!-- <li>{{today | date:'fullDate'}}</li> -->
        <li routerLink="">Home</li>
        <li>About us</li>
        <li>Contact us</li>
        <li routerLink="/register" class="register-link" *ngIf="!isLoggedIn">Register</li>
        <li (click)="navigatetoLogin()" data-cy="login-link" *ngIf="!isLoggedIn">Login</li>
        <li (click)="logout()" *ngIf="isLoggedIn" data-cy="logout-link">Logout</li>  
    </ul>

    <!-- <a [routerLink]="'/login'">Login</a> -->

    <!-- <button (click)="navigatetoLogin()">Clicked</button> -->
</nav>