<div>
    <table class="w-[70vw] table-auto border-collapse border border-slate-400">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Role</th>
            <th>Profile</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let user of users; let i = index">
            <td class="border border-slate-300 p-2">{{i+1}}</td>
            <td class="border border-slate-300 p-2">{{user.name}}</td>
            <td class="border border-slate-300 p-2">{{user.email}}</td>
            <td class="border border-slate-300 p-2">{{user.phone_number}}</td>
            <td class="border border-slate-300 p-2">{{user.role}}</td>
            <td class="border border-slate-300 p-2 flex justify-center"><img src="{{user.profile_image}}" alt="" width="50px"></td>
            <td class="border border-slate-300 p-2">
                <i routerLink="/admin/update-user/{{user.user_id}}" class="fa-solid fa-pen-to-square text-green-500 cursor-pointer"></i> 
                &nbsp; 
                <i (click)="deleteUser(user.user_id)" class="fa-solid fa-trash text-red-500 cursor-pointer"></i></td>
        </tr>
    </table>
</div>
