<app-navbar></app-navbar>

<div class="flex h-[92vh] bg-gray-100">
    <!-- Sidebar -->
    <div class="bg-gray-800 text-white w-64 flex flex-col">
      <div class="p-4">
        <h2 class="text-2xl font-bold">Hello Driver</h2>
      </div>
      <div class="flex-grow">
        <nav class="text-sm">
          <ul>
              <li class="p-4 hover:bg-gray-700"><a class="block">Incoming Requests</a></li>
            <li class="p-4 hover:bg-gray-700"><a class="block">Register Vehicle</a></li>
            <li class="p-4 hover:bg-gray-700"><a class="block">Trip History</a></li>
            <li class="p-4 hover:bg-gray-700"><a class="block">Earnings Summary</a></li>
            <li class="p-4 hover:bg-gray-700"><a class="block">Reviews</a></li>
            <li class="p-4 hover:bg-gray-700"><a class="block">View Profile</a></li>
          </ul>
        </nav>
      </div>
      <div class="p-4 text-gray-400 text-sm">© 2024 Driver's App</div>
    </div>
    <!-- Main Content -->
    <div class="flex-grow p-8">
      <h1 class="text-2xl font-bold">Dashboard</h1>
    </div>
  </div>
  
