body{
    padding: 0;
    margin: 0;
    
}
.main{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#registrationForm{
    width:40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    align-self: flex-start;
}
input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
select{
    width: 102%;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 102%;
}
input[type="submit"]:hover {
    background-color: #45a049;
    
}


.loginmain {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email-error{
    align-self: flex-start;
    font-size: 12px;
    margin-top: 0px;
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.success-msg{
    background-color: rgb(61, 246, 61);
    padding: 20px;
    border-radius: 10px;
}